@model IEnumerable<MVC_HW.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="tabletest"></div>
<script type="text/javascript">
   function Delete(id) {
       if (confirm('你確定要刪除嗎 ?')) {
           $.ajax({
               type: "POST",
               url: "DeleteTrue/"+id,
               data: id,
               success: function (respone) {
                   window.location.href = "./Index";
               }
           }
       )
       }
   }




</script> 

<script>



    $(document).ready(function () {
        $.ajax({
            url:"GetJsonList",
            type:'Get',
            success: function (response) {
                console.log(response[0].OrderDate)
                $("#tabletest").kendoGrid({
                    dataSource: {
                        type: "Json",
                        data: response
               


                    },
                    height: 550,
                    pageSize: 20,
                    pageable: {
                        pageSizes: true
                    },
                sortable: true,
                reorderable: true,
                resizable: true,
                pageable: true,})},
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }


        
        
        
        })
          
        });
</script>
